body{
  color: #777;
  font-family: "Open Sans", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 50px;
}

h1, h2, h3 {
  font-family: "Open Sans", "PT Sans", HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
