@import "normalize";
@import "../../../node_modules/scut/dist/scut";
@import "variables";
@import "util";

/* Application Styles */

* {
    box-sizing: border-box;
}

body {
    background: $color-main-background;
    color: $color-base-textColor;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    text-align: center;
}

footer {
    font-size: 0.75em;
    text-align: center;
}

.site-list {
    @include bottom-right-gradient(#333, #111);
    text-align: center;
}

.sites {
    @include scut-list-unstyled;
    @include scut-clearfix;
    padding: -rhythm();
    position: relative;
    text-align: center;

    li {
        float: left;
        padding: -rhythm();
        text-align: center;
        width: 50%;

        @include minWidth($bp-tablet) {
            width: 33.33333%;
        }

        @include minWidth($bp-desktop-small) {
            width: 25%;
        }
    }
}

.site-link {
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid #777;
    border-radius: 50%;
    display: block;
    @include scut-ratio-box;
    transition: all .2s ease-in-out;

    &.text {
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: #f90;
        font-size: 2.5em;
        text-decoration: none;

        &::before {
            padding: 0;
        }
    }

    &:hover {
        border: 5px solid #0f0;
        transform: scale(1.2);
    }
}
