extends ./layout.jade

block content
    header
        h1 Welcome to kids.yexley.net
    section.site-list
        ul.sites
            each site in sites
                li
                    if site.image !== ""
                        a(href="#{ site.url }", class="site-link", style="background-image: url('#{ site.image }')", target="_blank", title="Go to #{ site.title }")
                    else
                        a(href="#{ site.url }", class="site-link text", target="_blank", title="Go to #{ site.title }")= site.title
    footer
        p &copy; 2015 kids.yexley.net
